body {
    background-image: url('https://img.freepik.com/free-vector/abstract-blue-circle-black-background-technology_1142-12714.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  